@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Monoton:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar {
  color: #fff
}
.logo{
  display: flex;
  align-items: center;
  padding: 30px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  right: 20px;
  top: 20px
}

.menu-bar {
  height: 88vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
}
.toggle-theme-button{
  position: absolute;
  bottom: 30px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.toggle{
  margin-left: 15px;

}
.table tr td {
vertical-align: middle;
position: relative;
}
.td button{
  margin: 5px;
}
.td button i {
  font-size: 20px;
  position: relative;
  left: 10px;
  top: -130px;
  
}

.custom-row {
  position: absolute;
  z-index: 2;
  width: 80%;
  left: 270px;
  top: 200px;
  height: 100px;
}

.col-13{
  position: absolute;
  z-index: 2;
  width: 80%;
  left: 270px;
  top: 100px;
  height: 100px;
}

.modal-content {
  background-color: white;
}

.table {
  position: absolute;
  z-index: 2;
  width: 80%;
  left: 270px;
  top: 200px;
  height: 100px;
}

.col-9 {
  position: absolute;
  z-index: 2;
  width: 80%;
  left: 270px;
  top: 100px;
  height: 100px;
}

.col-3 {
  position: absolute;
  z-index: 2;
  width: 25%;
  left: 1200px;
  top: 100px;
  height: 100px;
}